*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    background-color: #F6F6EE;
}
#nav{
    display: flex;
    font-family: gilroy;
    justify-content: space-between;
    padding: 25px 30px;
}
#nav a{
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
}
#text{
    font-family: gilroy; 
    text-align: center;
    margin-top: 40px;
}
#text h1{
    font-family: voyage;
    font-size: 45px;
    width: 35%;
    margin: 0 auto;
}
#text button{
    padding: 12px 32px;
    background-color: black;
    border-radius: 100px;
    color: white;
}
#text p{
    padding: 13px;
    font-weight: 350;
}
#img img{
    width: 100%;
    margin-top: 30px;
}